# Project Information
site_name: AFOI Wiki
site_description: AFOI Wiki 是一个编程竞赛知识整合站点，提供有趣又实用的编程竞赛知识以及其他有帮助的内容，帮助广大编程竞赛爱好者更快更深入地学习编程竞赛
site_author: AFOI Wiki Team
site_url: https://afoi-wiki.github.io/afoi-wiki
strict: false

# Repository
repo_name: 'AFOI-wiki/AFOI-wiki'
repo_url: 'https://github.com/AFOI-wiki/AFOI-wiki'
edit_uri: 'https://afoi-wiki.github.io/afoi-wiki/edit-landing/?ref='
base_url: 'https://afoi-wiki.github.io/afoi-wiki/'

# Contents
nav:
  - 简介:
    - Getting Started: index.md
  - 数学:
    - 万能欧几里得算法: math/useful_euclidean.md
    - 拉格朗日反演: math/lagrange_inv.md
    - FWT: math/fwt.md
  - 测试: 
    - test: test/test.md

# Theme
theme:
  name: null
  custom_dir: 'material'
  static_templates:
    - 404.html
  language: 'zh'
  palette:
    primary: 'white'
    accent: 'red'
  include_search_page: false
  search_index_only: true
  favicon: 'favicon.ico'

  logo:
    icon: 'school'
  feature:
    tabs: true
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'

# Customization
extra:
  search:
    language: 'zh'
  disqus: 'AFOI-Wiki'
  copyright: '<a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">CC BY-SA 4.0</a> 和 <a href="https://github.com/zTrix/sata-license">SATA</a>'
  pagetime: 'on'
  manifest: 'manifest.webmanifest'

extra_javascript:
  - '_static/js/extra.js?v=16'
  - 'assets/vendor/mathjax/MathJax.js?config=TeX-MML-AM_CHTML'


extra_css:
  - '_static/css/extra.css?v=13'

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
      linenums: true
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.snippets
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
